@tailwind base;
@layer base {
  img {
    @apply inline-block;
  }
}
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #020617;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #020617;
  }
}

/* app/globals.css */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--foreground);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.items-center {
  align-items: center;
}